:root {
  --bg-color: #0f0e17;
  --text-color: #fffffe;
  --paragraph-color: #a7a9be;
  --button-color: #ff8906;
  --stroke: black;
  --highlight: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;

  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;

  background-color: var(--bg-color);
}

.primary-header-headline {
  padding: 5px;
  font-family: Arial;
  font-size: 42px;
  color: var(--text-color);
  border-left: 10px solid var(--text-color);
  border-right: 10px solid var(--text-color);
  border-radius: 10px;
}

.question-card__central-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.question-card {
  height: 300px;
  margin: 20px 10px 0px 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  position: relative;

  background-color: var(--bg-color);
  box-shadow: 0px 5px 7px 5px var(--paragraph-color);
}

.question-card p {
  width: 75%;
  margin: 30px 20px 20px 30px;
  font-size: xx-large;
  font-family: Arial;
  color: var(--text-color);
}

.question-card__answer-button {
  width: 50%;
  border-radius: 10px;
  font-size: x-large;
  font-family: Arial;

  color: var(--text-color);
  background-color: var(--button-color);
  box-shadow: 0px 0px 5px -100% var(--highlight);
}

.question-card__answer-button:hover {
  box-shadow: 0px 0px 5px 2px var(--highlight);
}

.question-card__answer-button:active {
  /* width: 48%; */
  transform: scale(0.9);
  box-shadow: 0px 0px 5px -100% var(--highlight);
  background-color: var(--secondary);
}

.question-card__tag-boxes {
  position: absolute;
  bottom: 20px;
  left: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.question-card__tag-boxes p {
  padding: 5px;
  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  font-size: medium;
  font-family: Arial;

  color: var(--text-color);
  background-color: var(--tertiary);
}

/* 
Color Palettes {
    Elements {
        Background: #0f0e17
        Headline: fffffe
        Paragraph: #a7a9be
        Button: #ff8906
        Button Text: #fffffe
    }
    Illustration {
        Stroke: black
        Main: #fffffe
        Highlight: #ff8906
        Secondary: #f25f4c
        Tertiary: #e53170
    }
} */
